/*Reset all default spacing for consistent layout behavior across browsers*/
*{
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Styling the web body layout*/
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(245, 242, 242);
    margin: 0;
    padding: 10px;
    max-height: 100vh;
    width: 100%;
} 

/*Header Bar For Background Section*/
.header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(41, 36, 7);
    backdrop-filter: blur(8px);
    border: none;
    border-radius: 5px;
    box-shadow: inset  0 0 0.01px 0.09px white;
    padding: 12px 40px;
    margin-bottom: 20px;
}


/*Header Bar ps*/
.divp {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(206, 203, 203);
    font-size: x-small;
    gap: 20px;
}

/*Header Bar Left Side*/
.bar-left {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: xx-small;
    gap: 10px;
    color: white;
}

/*Bar 2 Div*/
.bar2 {
    background-color: rgb(226, 223, 223);
    margin: 0 40px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: x-small;
    gap: 5px;
}

.bar2 span {
    color: rgb(134, 131, 131);
}

.bar2 p {
    color: rgb(48, 42, 42);
}

.container {
    margin: 15px 40px 50px;
    overflow: visible;
}

/*Heading Section*/
.heading {
    margin-bottom:  20px;
}

.heading h3 {
    font-size: 20px;
    line-height: 2;
}

.heading p {
    font-size: x-small;
    color: rgb(48, 42, 42);
}

/*Label Section*/
.label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: x-small;
    overflow: visible;
}

.label01 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    overflow: visible;
}

.all {
    background-color: rgb(245, 202, 124);
    padding: 5px 8px;
    border-radius: 5px;
}

.new {
    background-color: rgb(235, 229, 229);
    color: rgb(146, 143, 143);
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgb(223, 222, 222);
}

.sale {
    background-color: rgb(235, 229, 229);
    color: rgb(146, 143, 143);
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgb(223, 222, 222);
}

.sort {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px 8px;
}

/*Card Section*/
.card-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 15px;
    margin: 25px 30px;
}

.card {
    flex: 20%;
}

.card-image {
    background-color: rgb(231, 230, 230);
    border-radius: 5px;
    padding: 8px;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-text {
    margin-left: 5px;
}

.pcard {
    font-size: x-small;
    color: rgb(19, 17, 17);
    line-height: 2.5;
}

.cardp {
    font-size: xx-small;
    color: rgb(90, 89, 89);
    line-height: 1.2;
}

.pricep {
    font-size: x-small;
    line-height: 2.5;
    color: rgb(36, 35, 35);
}

/*Footer Section*/
footer {
    background-color: rgb(44, 38, 6);
    padding: 20px 30px;
    color: rgb(255, 254, 254);
    border-radius: 8px;
}

.row-info {
    display: flex;
    justify-content: space-between;
}

footer h5 {
    line-height: 2.5;
}

footer p {
    font-size: xx-small;
    line-height: 2.2;
}

hr {
    height: 1px;
    border: 1px;
    background-color: rgb(110, 73, 17);
    margin: 50px 0 40px 0;
}

.base {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

@media screen and (max-width: 600px) {

.header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(41, 36, 7);
    backdrop-filter: blur(8px);
    border: none;
    border-radius: 5px;
    box-shadow: inset  0 0 0.01px 0.09px white;
    padding: 12px 40px;
    margin:0 20px 20px 15px;
}

.card-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.card {
    flex: 1;
    width: 100%;
}

.row-info {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    flex-direction: column;
}

footer {
    background-color: rgb(44, 38, 6);
    padding: 20px 30px;
    color: rgb(255, 254, 254);
    border-radius: 8px;
    margin: 0 20px 0 16px;
}
}